@import "tailwindcss";

@tailwind utilities;

:root {
  --scrollbar-width: 0px;
}

.vc-container-row {
  padding-right: calc(1.25rem - var(--scrollbar-width));
}

@media screen and (min-width: 1024px) {
  .vc-container-row {
    padding-right: calc(2rem - var(--scrollbar-width));
  }
}

@media screen and (min-width: 1280px) {
  .vc-container-row {
    padding-right: calc(4rem - var(--scrollbar-width));
  }
}
