input[type="checkbox"] {
  appearance: none;
  background-color: #1a1f28;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #4b4e56;
}

input[type="checkbox"]:checked {
  background-image: url("/icons/checkbox-tick.svg");
  background-position: center center;
}

div:has(> input[type="checkbox"]):hover > input[type="checkbox"] {
  border: 1px solid rgba(255, 255, 255, 0.75);
}

div:has(> input[type="checkbox"]):hover > input[type="checkbox"]:disabled {
  border: 1px solid #4b4e56;
}
