.sb-radial-gradient--primary {
  background: radial-gradient(
    closest-side at center,
    rgba(132, 96, 47, 1) 29%,
    rgba(132, 96, 47, 0) 100%
  );
}

.sb-radial-gradient--secondary {
  background: radial-gradient(
    closest-side at center,
    rgba(76, 214, 232, 1) 29%,
    rgba(76, 214, 232, 0) 100%
  );
}

.sb-radial-gradient--hover--secondary {
  background: radial-gradient(
    closest-side at center,
    rgba(76, 214, 232, 0.4) 29%,
    rgba(76, 214, 232, 0) 100%
  );
}

.sb-line--primary {
  background-color: #84602f;
}

.sb-line--secondary {
  background-color: #4cd6e8;
}

.sb-line--gold {
  background-color: #857641;
}

.sb-line--promo {
  background-color: #ffebd4;
}

.sb-background--gold {
  background: linear-gradient(
    to right,
    rgba(243, 191, 91, 0.6) 0%,
    rgba(243, 191, 91, 0.4) 10%,
    rgba(243, 191, 91, 0) 100%
  );
}

.s-button {
  padding-left: 1.25rem;
}

.s-button:hover {
  padding-left: 1.5rem;
}

.s-button .s-button--hovered {
  display: none;
}

.s-button:hover .s-button--hovered {
  display: block;
}

.s-button .s-button-content {
  opacity: 0.75;
}

.s-button:hover .s-button-content {
  opacity: 1;
}

.s-button--gold {
  padding-left: 1.25rem;
}

.s-button--gold:hover {
  padding-left: 1.5rem;
}

.s-button--gold .button-sb--gold {
  transform: translateX(-1rem);
}

.s-button--gold:hover .button-sb--gold {
  transform: translateX(0rem);
}

.s-button--promo {
  padding-left: 1rem;
}

.s-button--promo:hover {
  padding-left: 1.5rem;
}

.s-button--promo .s-button-image--promo {
  transform: translateX(-0.5rem);
}

.s-button--promo:hover .s-button-image--promo {
  transform: translateX(0rem);
}
